.root {
  border-radius: 1rem;
  width: 10rem;
  height: 10rem;
  border: 1px solid var(--color-accent-1);
  color: var(--color-accent-1);
  cursor: pointer;
  font-size: 4rem;
  transform-style: preserve-3d;
  transition: transform .4s, outline .1s, background-color .1s;
  background: transparent;
}

.root[disabled] {
  cursor: auto;
}

.root:hover:not([disabled]) {
  background-color: color-mix(in srgb, var(--color-accent-1) 10%, transparent);
}

.icon {
  width: 3rem;
  height: 3rem;
  fill: currentColor;
}

.hint {
  position: absolute;
  bottom: 0.5rem;
  right: 0.75rem;
  font-size: 2rem;
  opacity: 0.5;
}

.root:focus-visible {
  outline: 3px solid var(--color-accent-1);
}

.flipped {
  transform: rotateY(180deg);
  border-color: color-mix(in srgb, var(--color-accent-1) 50%, transparent);
}

.matched {
  border-color: var(--color-accent-2);
}

.side {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(-180deg);
}

.back {
  transform: rotateY(0);
}