:root {
  --page-header-vartical-padding: 1rem;
  --page-header-text-height: 2rem;
  --page-header-height: calc(var(--page-header-text-height) + var(--page-header-vartical-padding) * 2);
}

.root {
  text-transform: uppercase;
  text-align: center;
  padding: var(--page-header-vartical-padding) 0;
  width: min-content;
  margin: 0 auto;
  font-weight: normal;
  line-height: var(--page-header-text-height);
  height: var(--page-header-height);
}

@supports (background-clip: text) and (-webkit-text-fill-color: transparent) {
  .root {
    background: linear-gradient(90deg, var(--color-accent-2) 0%, var(--color-accent-1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (width < 40rem) {
  .root {
    --page-header-vartical-padding: 0.25rem;
  }
}