.root {
  width: 100%;
  border-collapse: collapse;
  position: relative;
}

.empty {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-height: 10rem;
}

.header {
  background: var(--color-background-hard);
  position: sticky;
  top: 0;
  z-index: 1;
  outline: 1px solid var(--color-background-hard);
}

.bodyCell,
.headCell {
  padding: 0.25rem 0.25rem;
}

.bodyCell {
  opacity: 0.75;
  border-bottom: 1px solid #28272f;
}

.row:last-child .bodyCell {
  border-bottom: none;
}

.place,
.movesCount,
.timePassed {
  /* shrink cells to the min content */
  width: 1px;
  text-align: right;
  white-space: nowrap;
}

.playerName {
  text-align: left;
  word-break: break-word;
}

.currentPlayer {
  opacity: 1;
}

.place {
  color: var(--color-accent-2);
  text-align: right;
}

.timePassed {
  color: var(--color-accent-1);
}

.bodyCell+.bodyCell,
.headCell+.headCell {
  padding-left: 0.75rem;
}

.highlighted .bodyCell {
  opacity: 1;
  font-weight: bold;
}