.root {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-background-soft);
  border: 0;
  border-radius: 1rem;
}

.content {
  padding: 1rem;
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 90svh;
  overflow: auto;
}

.root:focus-visible {
  outline: none;
}

.root::backdrop {
  backdrop-filter: blur(4px);
}

.title {
  text-align: center;
}